/* Put css styles for home view here */
.home-view p {
	padding: 5px;
}
.home-view
{
  background-color:magenta;
}

#blog
{
  position:absolute;
  background-color:magenta;
  top:20px;
  color: magenta;
  left:50px;
}
#you
{
  display:none;
  position: absolute;
  top: 60px;
  left: 60px;
}
.scary 
{
  background-image: url(http://www.scaryforkids.com/pics/evil-clown.jpg);
  background-size: cover;
}
#krish
{
  display:none;
  position:absolute;
  top:0px;
  left:0px;
}
#cast
{
  display:none;
  position:absolute;
  top:65px;
  left:65px;
}
#no
{
  display:none;
  position:absolute;
  top:30px;
  left:40px;
}
#def
{
  display:none;
}
.white-screen
{
  background-color:white;
}